{% extends '@themes/' ~ theme() ~ '/templates/layout.html.twig' %}

{% set element = 'section' %}
{% set additionalClass = 'comments' %}

{% block content %}
    <div class="container">
        {% include 'partials/comments.html.twig' with {target: post} only %}
    </div>
{% endblock %}

