.btn {
  --btn-background: var(--color-dark);
  --btn-color: var(--color-light);
  color: var(--btn-color);
  background: var(--btn-background);
  border: 0;
  border-radius: 5px;
  padding: calc(1 * var(--space)) calc(2 * var(--space));
  transition: 0.4s;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  font-weight: bold;
}
.btn .icon {
  width: 20px;
  height: 20px;
  margin-right: calc(1 * var(--space));
}
.btn.primary {
  --btn-color: var(--color-light);
  --btn-background: var(--contrast);
}
.btn.primary:hover, .btn.primary:focus {
  --btn-background: var(--accent);
}
.btn.primary-outlined {
  --btn-color: var(--contrast);
  --btn-background: var(--contrast);
  border: solid 2px var(--contrast);
  background: transparent;
}
.btn.primary-outlined:hover, .btn.primary-outlined:focus {
  --btn-color: var(--color-light);
  background: var(--btn-background);
}
.btn.secondary {
  --btn-color: var(--color-light);
  --btn-background: var(--accent);
}
.btn.secondary :hover, .btn.secondary:focus {
  --btn-background: var(--contrast);
}
.btn.danger {
  --btn-color: var(--color-light);
  --btn-background: var(--red);
}
.btn.danger:hover, .btn.danger:focus {
  --btn-background: var(--color-dark);
}
