@use "../../../../../../../resources/css/tools/functions";

.header {
    position: fixed;
    width: 100%;
    z-index: 100;

    .container {
        display: flex;
        height: 120px;

        .header__burger {
            display: none;
        }

        a {
            transition: 0.3s;
        }

        .header__nav {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            li {
                margin-right: 15px;

                a {
                    &:after {
                        background-color: var(--contrast);
                        background-image: var(--contrast);
                        transition: width 0.2s;
                        content: "";
                        display: block;
                        margin: 0 auto 0;
                        height: 0.125em;
                        width: 0;
                    }

                    &:hover:after, &[aria-current]:after {
                        width: 100%;
                    }

                    &:hover, &[aria-current] {
                        color: var(--contrast);
                    }
                }
            }
        }

        .header__spacer {
            flex-grow: 1;
        }

        .header__logo {
            width: 250px;
            display: flex;
            align-items: center;
        }

        .header__actions {
            display: inline-flex;
            align-items: center;

            .header__actions-search {
                margin-right: 15px;

                .search {
                    margin-bottom: 4px;
                }

                .icon {
                    height: 28px;
                    aspect-ratio: 1 / 1;
                }
            }

            .header__actions-account, .header__actions-auth {
                margin-right: 15px;
                display: flex;

                a {
                    &:after {
                        background-color: var(--contrast);
                        background-image: var(--contrast);
                        transition: width 0.2s;
                        content: "";
                        display: block;
                        margin: 0 auto 0;
                        height: 0.125em;
                        width: 0;
                    }

                    &:hover:after {
                        width: 100%;
                    }

                    svg {
                        width: 24px;
                        height: 24px;
                        margin-right: functions.space(1);
                    }
                }

                &:hover {
                    color: var(--contrast);
                }
            }
        }
    }
}


@media (max-width: 950px) {
    .header {
        .container {
            height: 70px;
            grid-template-columns: 25% auto 40px;

            .header__burger {
                display: block;
                overflow: hidden;
            }

            .header__burger .hamburger {
                transition: translate 1s, rotate 1s;
            }

            .header__burger[aria-expanded="true"] .hamburger {
                translate: 3px 0;
                rotate: 0.125turn;
            }

            .header__burger .line {
                transition: 1s;
                stroke-dasharray: 60 31 60 300;
            }

            .header__burger[aria-expanded="true"] .line {
                stroke-dasharray: 60 105 60 300;
                stroke-dashoffset: -90;
            }

            .header__logo {
                img {
                    height: 70px;
                    width: auto;
                }
            }

            .header__nav, .header__actions {
                display: block;
                justify-content: initial;
                position: fixed;
                top: 0;
                right: -250px;
                bottom: 0;
                width: 250px;
                transition: right 0.5s;
                padding: 80px 20px 20px;
                background-color: var(--header-background);

                &[aria-expanded="true"] {
                    right: 0;
                }

                li + li {
                    margin-top: 15px;
                }

                li {
                    display: flex;

                    a {
                        margin: auto;
                    }
                }
            }

            .header__actions {
                padding: 0 20px 20px;
                margin-top: 205px;
                background: none;
            }
        }
    }
}
