.article-header .article-header__meta a {
  opacity: 1;
  text-decoration: underline;
}
.article-header .article-header__meta a:hover {
  color: var(--contrast);
}
.article-header .article-header__meta span {
  text-decoration: underline;
}
