.contact-form .container {
  --gap: 5;
  display: grid;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;
}
.contact-form .container .full {
  grid-column: 1/-1;
}
.contact-form .container .contact-form__sidebar .contact-form__sidebar-title {
  border-bottom: 1px solid var(--border-light);
  padding-bottom: calc(0.5 * var(--space));
}

@media (min-width: 800px) {
  .contact-form .container {
    grid-template-columns: 1fr 300px;
  }
}
