.editor {
    --sidebar: 600px;
    --clampedSidebar: clamp(450px, var(--sidebar), calc(100vw - 375px));
    box-sizing: border-box;
    isolation: isolate;
    font-size: var(--step-0);
    color: var(--color);
    transition: background-color .3s ease 0s;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--clampedSidebar) 1fr;
    animation: .7s cubic-bezier(0.19, 1, .22, 1) 0s 1 normal both running animateBackground;
    z-index: 9999;

    .editor__sidebar {
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: rgb(251, 251, 253);
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.2) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        animation: 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal both running animateSidebar;

        .editor__sidebar-header {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            gap: 1em;
            -webkit-box-pack: justify;
            justify-content: space-between;
            padding: 0 1em;
            flex: 0 0 auto;
            background-color: rgb(255, 255, 255);
            border-bottom: 1px solid rgba(0, 0, 0, 0.06);
            box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
            height: 64px;


            .editor__sidebar-header-icon-button {
                width: 40px;
                height: 40px;
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                transition: 0.3s;
                border: none;
                outline: none;
                cursor: pointer;
                background: var(--background);

                &:hover {
                    background: var(--contrast);
                    color: var(--color-light);
                }
            }

            .editor__sidebar-header-actions {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: start;
                justify-content: flex-start;
                gap: 1em;
            }
        }

        .editor__sidebar-header-content {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1em;
            padding: 1em;
            overflow: auto;
            scrollbar-gutter: stable;
        }

        .editor__sidebar-footer {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            gap: 1em;
            margin-top: auto;
            background-color: rgb(255, 255, 255);
            -webkit-box-pack: end;
            justify-content: flex-end;
            border-top: 1px solid rgba(0, 0, 0, 0.06);
            padding: 0.5em 1em;
            box-shadow: rgba(0, 0, 0, 0.05) 0px -1px 2px 0px;

            button {
                margin: initial;
            }
        }
    }

    .editor__preview {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        animation: animatePreview 0.7s cubic-bezier(0.19, 1, 0.22, 1) both;

        iframe {
            transform-origin: 50% 50%;
            border: none;
            color: var(--contrast);
            transition: width 0.3s, height 0.3s, opacity 0.5s;
            opacity: 0;
            width: 100%;
            height: 100%;

            &.loaded {
                opacity: 1;
            }
        }
    }

    .editor__resize-bar {
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100%;
        left: var(--clampedSidebar);
        width: 15px;
        z-index: 1002;
        cursor: ew-resize;
        transition: .3s ease 0s;

        &:hover {
            background: var(--contrast);
        }
    }
}


.editor__preview-item {
    position: relative;
    cursor: pointer;
    z-index: -1;

    .editor__preview-item-title {
        position: absolute;
        top: 0;
        left: 0;
        background: var(--contrast);
        color: var(--color-light);
        padding: 0.2rem 0.4rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        opacity: 0;
        transform: translateY(calc(1px - 100%));
    }

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        border-style: solid;
        border-color: transparent;
        border-width: 1px;
        z-index: 10;
    }

    &:hover {
        border-color: var(--contrast);

        .editor__preview-item-title {
            opacity: 1;
        }
    }

    &:hover:before {
        border-color: var(--contrast);
    }
}

.editor__preview-addButtonFloating {
    position: relative;
    margin-top: -40px;
    margin-bottom: -40px;
    opacity: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: transparent;
    padding: 0;
    color: inherit;
    border: none;
    transition: opacity 0.3s;

    &:hover {
        opacity: 1;
    }

    span {
        pointer-events: none;
        font-size: 15px;
        height: 35px;
        background: var(--contrast);
        padding: 0 0.5rem;
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        bottom: -30px;
        transform: translate(-50%, 5px);
        color: var(--color-light);
        transition: transform 0.3s;

        &:before {
            content: "";
            position: absolute;
            display: block;
            left: calc(50% - 6px);
            top: -6px;
            width: 12px;
            height: 12px;
            background: var(--contrast);
            transform: rotate(45deg);
        }
    }

    &:before {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        z-index: 101;
        background: var(--contrast);
    }

    &:after {
        content: "+";
        font-size: 1.5rem;
        z-index: 101;
        width: 40px;
        height: 40px;
        background: var(--contrast);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-light);
        border-radius: 40px;
        transition: tranform 0.3s;
    }
}

.editor__preview-addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: dashed 2px var(--color);
    width: calc(100% - 2rem);

    button {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: var(--contrast);
        }
    }
}

@keyframes animateBackground {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        background-color: var(--color);
    }
}

@keyframes animatePreview {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animateSidebar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0px);
    }
}
