// Outils
// ==================
@use 'tools/functions';

@use 'modules/admin/admin';
@use 'modules/admin/spotlight';
@use 'modules/admin/choices';
@use 'modules/admin/flatpickr';
@use 'modules/admin/attachments';
@use 'modules/admin/sortable';
@use 'modules/admin/editor';

.admin {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
    min-height: 100vh;
    grid-template-areas:
        "sidebar header"
        "sidebar body";

    nav {
        display: block;
        top: 0;
        position: sticky;
        max-height: 100vh;
        overflow: auto;
        background: var(--color-light);
        grid-area: sidebar;

        img {
            display: block;
            width: auto;
            height: 110px;
            margin: auto;
            margin-block: functions.space(1);
        }


        ul {

            li {
                display: block;

                &[hidden] {
                    display: none;
                }

                a {
                    display: flex;
                    align-items: center;
                    color: var(--color-dark);
                    padding: 10px 20px;
                    transition: .3s;

                    &[aria-current] {
                        background: var(--contrast);
                        color: var(--color-light);

                        &:hover {
                            color: var(--color-light);
                            background: var(--accent);
                        }
                    }

                    &:hover {
                        background: var(--contrast);
                        color: var(--color-light);
                    }

                    svg {
                        width: 25px;
                        height: 25px;
                        margin-right: functions.space(1.5);
                    }
                }
            }
        }
    }


    header {
        padding: 0 calc(3 * var(--space));
        background: var(--color-light);
        color: var(--color-dark);
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: header;

        site-notifications {
            position: relative;

            .icon {
                width: 25px;
                height: 25px;
                display: block;
            }

            .notification-badge {
                width: 20px;
                height: 20px;
                font-size: 9px;
                right: -10px;
                top: -10px;
            }

            .notifications {
                background: white;
                border-radius: 5px;
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
            }
        }

        .icon {
            width: 25px;
            height: 25px;
            display: block;
            transition: .3s;

            &:hover {
                color: var(--contrast);
            }
        }

        .admin__body-nav {
            margin-left: auto;
            display: flex;
            align-items: center;

            > li {
                display: block;
                margin-left: functions.space(2);

                > a, > button, form button {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .admin__body-search {
            width: 100%;
            padding: 0 calc(3 * var(--space));

            input {
                outline: none;
                width: 100%;
                padding: calc(1 * var(--space)) 0 calc(1 * var(--space)) calc(2 * var(--space));
                border: solid 1px var(--border);
                border-radius: 0.3em;
                color: inherit;
            }
        }

        .header__notification {
            position: relative;
            padding-right: functions.space(1);

            button {
                display: block;
            }

            .icon, > button {
                display: block;
                width: 25px;
                height: 25px;
                margin-right: 0;
            }
        }
    }

    main {
        position: relative;
        padding: calc(3 * var(--space)) calc(4 * var(--space));
        grid-area: body;

        .icon {
            width: 25px;
            height: 25px;
        }

        .admin__body-card {
            background: white;
            border-radius: 5px;
            padding: calc(2 * var(--space));
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);

            .dashboard-actions {
                display: flex;
                justify-content: flex-end;
                gap: functions.space(2);
            }

            .bullet {
                display: block;
                width: 10px;
                height: 10px;
                background: var(--green);
                margin: auto;
                border-radius: 50%;

                &.bullet--danger {
                    background: var(--red);
                }
            }
        }

        .dashboard {
            form {
                button {
                    display: flex;
                    gap: functions.space(1);
                    align-items: center;
                    color: var(--color-dark);
                    font-size: 1.3rem;

                    &:hover {
                        color: var(--contrast)
                    }
                }
            }
        }
    }

    .themes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: functions.space(2);

        .card {
            background: var(--background);
            position: relative;

            .preview {
                img {
                    width: 100%;
                    height: 310px;
                }
            }

            .footer {
                width: 100%;
                height: 45px;
                display: flex;
                position: absolute;
                bottom: 0;
                background: var(--color-light);
                padding-inline: .5rem;
                justify-content: space-between;
                align-items: center;


                span {
                    font-weight: 300;
                    font-size: 0.9rem;
                    font-style: italic;
                }


                .actions {
                    display: flex;
                    justify-content: space-between;
                    opacity: 0;
                    transition: opacity .5s;
                    padding-inline: .5rem;
                    padding-block: .5rem;
                    gap: functions.space(1);
                }
            }

            &:hover {
                .actions {
                    opacity: 1;
                }
            }
        }
    }

}
