// Modules
// ==================
@use 'modules/themeswitcher';
@use 'modules/card';
@use 'modules/blur';
@use 'modules/tabs';
@use 'modules/user';
@use 'modules/pagination';
@use 'modules/table';
@use 'modules/highlight';
@use 'modules/comments';
@use 'modules/notifications';
@use 'modules/lightbox';
@use 'modules/searchInput';

// Pages
// ==================
//@use 'pages/auth';
//@use 'pages/blog';

// Outils
// ==================
@use 'tools/reset';
@use 'tools/mixins';

// Dark mode
// =============


// Generic
// ==================

body.header-light::after {
    display: none;
}

body::after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 580px;
    height: 506px;
    z-index: -1;
    pointer-events: none;

    @include mixins.up(700) {
        display: block;
    }
}

::selection {
    background: var(--contrast);
    color: #fff;
}


//ScrollBar
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--color-light);
    padding: 1px;
}

::-webkit-scrollbar-thumb {
    background: var(--contrast);
    border-radius: 4px;
}

.search-header {
    background: var(--color-light);
    padding-bottom: calc(3 * var(--space));
    padding-top: calc(3 * var(--space));

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        :first-child {
            flex: none;
            margin-right: calc(4 * var(--space));
        }

        form {
            display: block;
            width: 100%;
            position: relative;
            z-index: 1;
            margin-left: 70px;

            button {
                display: inline-flex;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: calc(1 * var(--space));
                width: 35px;
                height: 35px;

                .icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .search-header .container {
        display: block;

        form {
            margin-top: calc(2 * var(--space));
            margin-left: 0;
        }
    }
}
