@use '../tools/functions';
@use '../tools/mixins';

// Tabs bar
// =============
.tabs-bar {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--background-light);

    .container {
        display: flex;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-color: var(--color);
    }
}

.tabs-bar small {
    font-size: 14px;
}

.tabs-bar a, .tabs-bar button {
    display: flex;
    padding: functions.space(2);
    font-size: 1.2em;
    white-space: nowrap;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.tabs-bar a:hover, .tabs-bar button:hover {
    color: var(--contrast);
}

.tabs-bar .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: functions.space(1.5);
    margin-bottom: 4px;
}

.tabs-bar a[aria-current="page"] {
    color: var(--contrast);
    border-bottom: 3px solid var(--contrast);
}

@include mixins.down(1000) {
    .tabs-bar {
        &::-webkit-scrollbar {
            height: 6px;
        }

        &::after {
            content: none;
        }
    }

    .tabs-bar a[aria-current="page"] {
        border-bottom: none;
    }
}
