@use '../tools/functions';
@use '../tools/mixins';

.profil-header {
    text-align: center;
}

// Avatar
// =============
.profil-header__avatar {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: var(--border);
    border: solid 2px var(--border);
}

.profil-header__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 110px;
    transition: opacity 0.3s;
}

.profil-header__avatar input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.profil-header__body p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
}

.profil-header__upload {
    width: 110px;
    height: 25px;
    background: var(--border);
    transform: translateY(100%);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #9fb3c8;

    .icon {
        width: 18px;
        height: 15px;
    }
}

.profil-header__avatar:hover .profil-header__upload {
    transform: translateY(0);
}

form.profil-header__avatar:hover img {
    opacity: 0.7;
}

.profil-notifications {
    width: 35%;

    a {
        display: block;
        color: var(--color);
        border-bottom: solid 1px var(--color-light);
        transition: .3s color;

        &:hover {
            color: var(--contrast);
        }

        &:last-child {
            border-bottom: none;
        }

        strong {
            font-weight: bold;
        }
    }

    button {
        display: flex;

        .icon {
            width: 20px;
            height: 20px;
            color: var(--red);
            align-items: center;
        }
    }
}

@include mixins.down(1000) {
    .profil {
        flex-direction: column;

        .profil-notifications {
            width: 100%;
        }
    }
}

@include mixins.up(600) {
    .profil-header {
        text-align: left;
        display: grid;
        grid-template-columns: 110px 1fr;
        align-items: center;
        grid-gap: functions.space(2);
    }
    .profil-header__avatar {
        margin-left: 0;
    }
    .profil-header__body p {
        justify-content: flex-start;
    }
}

.profil-sidebar {
    display: grid;
    gap: calc(var(--gap) * var(--space));
    grid-template-columns: 1fr;

    .text-danger {
        color: var(--red);
    }


    .h3 {
        display: flex;
        align-items: center;

        .icon {
            width: 25px;
            height: 25px;
            margin-right: functions.space(1.5);
        }
    }

    .stack {
        --gap: 2;
        display: grid !important;
        grid-template-columns: 1fr;
        align-content: flex-start;
        gap: calc(var(--gap) * var(--space));

        .btn {
            justify-content: start;
        }
    }
}


@media (min-width: 1100px) {
    .profil-sidebar {
        grid-template-columns: 1fr 300px;
    }
}
