@keyframes animateLine {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes animateLine2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
}
.animate.fadeup {
  opacity: 0;
  transition: all 1s;
  transform: translateY(100%);
}

.show {
  opacity: 1;
  transform: translateX(0);
}
.show.fadeup {
  opacity: 1;
  transform: translateY(0);
}

.services__card.animate:nth-child(2),
.last-posts__card.animate:nth-child(2) {
  transition-delay: 200ms;
}

.services__card.animate:nth-child(3),
.last-posts__card.animate:nth-child(3) {
  transition-delay: 400ms;
}

.services__card.animate:nth-child(4),
.last-posts__card.animate:nth-child(4) {
  transition-delay: 600ms;
}

.services__card:hover.animate,
.last-posts__card:hover.animate {
  transition-delay: 0s;
}

@media (max-width: 1340px) {
  .services__card.animate:nth-child(2),
  .last-posts__card.animate:nth-child(2) {
    transition-delay: 0ms;
  }
  .services__card.animate:nth-child(3),
  .last-posts__card.animate:nth-child(3) {
    transition-delay: 200ms;
  }
  .services__card.animate:nth-child(4),
  .last-posts__card.animate:nth-child(4) {
    transition-delay: 200ms;
  }
}
@media (max-width: 700px) {
  .services__card.animate,
  .last-posts__card.animate {
    transition-delay: 0ms;
  }
}
.btn {
  --btn-background: var(--color-dark);
  --btn-color: var(--color-light);
  color: var(--btn-color);
  background: var(--btn-background);
  border: 0;
  border-radius: 5px;
  padding: calc(1 * var(--space)) calc(2 * var(--space));
  transition: 0.4s;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  font-weight: bold;
}
.btn .icon {
  width: 20px;
  height: 20px;
  margin-right: calc(1 * var(--space));
}
.btn.primary {
  --btn-color: var(--color-light);
  --btn-background: var(--contrast);
}
.btn.primary:hover, .btn.primary:focus {
  --btn-background: var(--accent);
}
.btn.primary-outlined {
  --btn-color: var(--contrast);
  --btn-background: var(--contrast);
  border: solid 2px var(--contrast);
  background: transparent;
}
.btn.primary-outlined:hover, .btn.primary-outlined:focus {
  --btn-color: var(--color-light);
  background: var(--btn-background);
}
.btn.secondary {
  --btn-color: var(--color-light);
  --btn-background: var(--accent);
}
.btn.secondary :hover, .btn.secondary:focus {
  --btn-background: var(--contrast);
}
.btn.danger {
  --btn-color: var(--color-light);
  --btn-background: var(--red);
}
.btn.danger:hover, .btn.danger:focus {
  --btn-background: var(--color-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  color: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: inherit;
}

form {
  display: block;
}

select,
input {
  font-size: inherit;
  font-family: inherit;
}

pre {
  font-family: monospace;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
}

hr {
  height: 1px;
  background: var(--border);
  margin: 0;
  padding: 0;
  border: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.p-0 {
  padding: calc(0 * var(--space));
}
.p-top-0 {
  padding-top: calc(0 * var(--space));
}
.p-left-0 {
  padding-left: calc(0 * var(--space));
}
.p-bottom-0 {
  padding-bottom: calc(0 * var(--space));
}
.p-right-0 {
  padding-right: calc(0 * var(--space));
}
.p-inline-0 {
  padding-inline: calc(0 * var(--space));
}
.p-inline-start-0 {
  padding-inline-start: calc(0 * var(--space));
}
.p-inline-end-0 {
  padding-inline-end: calc(0 * var(--space));
}
.p-block-0 {
  padding-block: calc(0 * var(--space));
}
.p-block-start-0 {
  padding-block-start: calc(0 * var(--space));
}
.p-block-end-0 {
  padding-block-end: calc(0 * var(--space));
}

.m-0 {
  margin: calc(0 * var(--space));
}
.m-top-0 {
  margin-top: calc(0 * var(--space));
}
.m-left-0 {
  margin-left: calc(0 * var(--space));
}
.m-bottom-0 {
  margin-bottom: calc(0 * var(--space));
}
.m-right-0 {
  margin-right: calc(0 * var(--space));
}
.m-inline-0 {
  margin-inline: calc(0 * var(--space));
}
.m-inline-start-0 {
  margin-inline-start: calc(0 * var(--space));
}
.m-inline-end-0 {
  margin-inline-end: calc(0 * var(--space));
}
.m-block-0 {
  margin-block: calc(0 * var(--space));
}
.m-block-start-0 {
  margin-block-start: calc(0 * var(--space));
}
.m-block-end-0 {
  margin-block-end: calc(0 * var(--space));
}

.p-1 {
  padding: calc(1 * var(--space));
}
.p-top-1 {
  padding-top: calc(1 * var(--space));
}
.p-left-1 {
  padding-left: calc(1 * var(--space));
}
.p-bottom-1 {
  padding-bottom: calc(1 * var(--space));
}
.p-right-1 {
  padding-right: calc(1 * var(--space));
}
.p-inline-1 {
  padding-inline: calc(1 * var(--space));
}
.p-inline-start-1 {
  padding-inline-start: calc(1 * var(--space));
}
.p-inline-end-1 {
  padding-inline-end: calc(1 * var(--space));
}
.p-block-1 {
  padding-block: calc(1 * var(--space));
}
.p-block-start-1 {
  padding-block-start: calc(1 * var(--space));
}
.p-block-end-1 {
  padding-block-end: calc(1 * var(--space));
}

.m-1 {
  margin: calc(1 * var(--space));
}
.m-top-1 {
  margin-top: calc(1 * var(--space));
}
.m-left-1 {
  margin-left: calc(1 * var(--space));
}
.m-bottom-1 {
  margin-bottom: calc(1 * var(--space));
}
.m-right-1 {
  margin-right: calc(1 * var(--space));
}
.m-inline-1 {
  margin-inline: calc(1 * var(--space));
}
.m-inline-start-1 {
  margin-inline-start: calc(1 * var(--space));
}
.m-inline-end-1 {
  margin-inline-end: calc(1 * var(--space));
}
.m-block-1 {
  margin-block: calc(1 * var(--space));
}
.m-block-start-1 {
  margin-block-start: calc(1 * var(--space));
}
.m-block-end-1 {
  margin-block-end: calc(1 * var(--space));
}

.p-2 {
  padding: calc(2 * var(--space));
}
.p-top-2 {
  padding-top: calc(2 * var(--space));
}
.p-left-2 {
  padding-left: calc(2 * var(--space));
}
.p-bottom-2 {
  padding-bottom: calc(2 * var(--space));
}
.p-right-2 {
  padding-right: calc(2 * var(--space));
}
.p-inline-2 {
  padding-inline: calc(2 * var(--space));
}
.p-inline-start-2 {
  padding-inline-start: calc(2 * var(--space));
}
.p-inline-end-2 {
  padding-inline-end: calc(2 * var(--space));
}
.p-block-2 {
  padding-block: calc(2 * var(--space));
}
.p-block-start-2 {
  padding-block-start: calc(2 * var(--space));
}
.p-block-end-2 {
  padding-block-end: calc(2 * var(--space));
}

.m-2 {
  margin: calc(2 * var(--space));
}
.m-top-2 {
  margin-top: calc(2 * var(--space));
}
.m-left-2 {
  margin-left: calc(2 * var(--space));
}
.m-bottom-2 {
  margin-bottom: calc(2 * var(--space));
}
.m-right-2 {
  margin-right: calc(2 * var(--space));
}
.m-inline-2 {
  margin-inline: calc(2 * var(--space));
}
.m-inline-start-2 {
  margin-inline-start: calc(2 * var(--space));
}
.m-inline-end-2 {
  margin-inline-end: calc(2 * var(--space));
}
.m-block-2 {
  margin-block: calc(2 * var(--space));
}
.m-block-start-2 {
  margin-block-start: calc(2 * var(--space));
}
.m-block-end-2 {
  margin-block-end: calc(2 * var(--space));
}

.p-3 {
  padding: calc(3 * var(--space));
}
.p-top-3 {
  padding-top: calc(3 * var(--space));
}
.p-left-3 {
  padding-left: calc(3 * var(--space));
}
.p-bottom-3 {
  padding-bottom: calc(3 * var(--space));
}
.p-right-3 {
  padding-right: calc(3 * var(--space));
}
.p-inline-3 {
  padding-inline: calc(3 * var(--space));
}
.p-inline-start-3 {
  padding-inline-start: calc(3 * var(--space));
}
.p-inline-end-3 {
  padding-inline-end: calc(3 * var(--space));
}
.p-block-3 {
  padding-block: calc(3 * var(--space));
}
.p-block-start-3 {
  padding-block-start: calc(3 * var(--space));
}
.p-block-end-3 {
  padding-block-end: calc(3 * var(--space));
}

.m-3 {
  margin: calc(3 * var(--space));
}
.m-top-3 {
  margin-top: calc(3 * var(--space));
}
.m-left-3 {
  margin-left: calc(3 * var(--space));
}
.m-bottom-3 {
  margin-bottom: calc(3 * var(--space));
}
.m-right-3 {
  margin-right: calc(3 * var(--space));
}
.m-inline-3 {
  margin-inline: calc(3 * var(--space));
}
.m-inline-start-3 {
  margin-inline-start: calc(3 * var(--space));
}
.m-inline-end-3 {
  margin-inline-end: calc(3 * var(--space));
}
.m-block-3 {
  margin-block: calc(3 * var(--space));
}
.m-block-start-3 {
  margin-block-start: calc(3 * var(--space));
}
.m-block-end-3 {
  margin-block-end: calc(3 * var(--space));
}

.p-4 {
  padding: calc(4 * var(--space));
}
.p-top-4 {
  padding-top: calc(4 * var(--space));
}
.p-left-4 {
  padding-left: calc(4 * var(--space));
}
.p-bottom-4 {
  padding-bottom: calc(4 * var(--space));
}
.p-right-4 {
  padding-right: calc(4 * var(--space));
}
.p-inline-4 {
  padding-inline: calc(4 * var(--space));
}
.p-inline-start-4 {
  padding-inline-start: calc(4 * var(--space));
}
.p-inline-end-4 {
  padding-inline-end: calc(4 * var(--space));
}
.p-block-4 {
  padding-block: calc(4 * var(--space));
}
.p-block-start-4 {
  padding-block-start: calc(4 * var(--space));
}
.p-block-end-4 {
  padding-block-end: calc(4 * var(--space));
}

.m-4 {
  margin: calc(4 * var(--space));
}
.m-top-4 {
  margin-top: calc(4 * var(--space));
}
.m-left-4 {
  margin-left: calc(4 * var(--space));
}
.m-bottom-4 {
  margin-bottom: calc(4 * var(--space));
}
.m-right-4 {
  margin-right: calc(4 * var(--space));
}
.m-inline-4 {
  margin-inline: calc(4 * var(--space));
}
.m-inline-start-4 {
  margin-inline-start: calc(4 * var(--space));
}
.m-inline-end-4 {
  margin-inline-end: calc(4 * var(--space));
}
.m-block-4 {
  margin-block: calc(4 * var(--space));
}
.m-block-start-4 {
  margin-block-start: calc(4 * var(--space));
}
.m-block-end-4 {
  margin-block-end: calc(4 * var(--space));
}

.p-5 {
  padding: calc(5 * var(--space));
}
.p-top-5 {
  padding-top: calc(5 * var(--space));
}
.p-left-5 {
  padding-left: calc(5 * var(--space));
}
.p-bottom-5 {
  padding-bottom: calc(5 * var(--space));
}
.p-right-5 {
  padding-right: calc(5 * var(--space));
}
.p-inline-5 {
  padding-inline: calc(5 * var(--space));
}
.p-inline-start-5 {
  padding-inline-start: calc(5 * var(--space));
}
.p-inline-end-5 {
  padding-inline-end: calc(5 * var(--space));
}
.p-block-5 {
  padding-block: calc(5 * var(--space));
}
.p-block-start-5 {
  padding-block-start: calc(5 * var(--space));
}
.p-block-end-5 {
  padding-block-end: calc(5 * var(--space));
}

.m-5 {
  margin: calc(5 * var(--space));
}
.m-top-5 {
  margin-top: calc(5 * var(--space));
}
.m-left-5 {
  margin-left: calc(5 * var(--space));
}
.m-bottom-5 {
  margin-bottom: calc(5 * var(--space));
}
.m-right-5 {
  margin-right: calc(5 * var(--space));
}
.m-inline-5 {
  margin-inline: calc(5 * var(--space));
}
.m-inline-start-5 {
  margin-inline-start: calc(5 * var(--space));
}
.m-inline-end-5 {
  margin-inline-end: calc(5 * var(--space));
}
.m-block-5 {
  margin-block: calc(5 * var(--space));
}
.m-block-start-5 {
  margin-block-start: calc(5 * var(--space));
}
.m-block-end-5 {
  margin-block-end: calc(5 * var(--space));
}

.p-6 {
  padding: calc(6 * var(--space));
}
.p-top-6 {
  padding-top: calc(6 * var(--space));
}
.p-left-6 {
  padding-left: calc(6 * var(--space));
}
.p-bottom-6 {
  padding-bottom: calc(6 * var(--space));
}
.p-right-6 {
  padding-right: calc(6 * var(--space));
}
.p-inline-6 {
  padding-inline: calc(6 * var(--space));
}
.p-inline-start-6 {
  padding-inline-start: calc(6 * var(--space));
}
.p-inline-end-6 {
  padding-inline-end: calc(6 * var(--space));
}
.p-block-6 {
  padding-block: calc(6 * var(--space));
}
.p-block-start-6 {
  padding-block-start: calc(6 * var(--space));
}
.p-block-end-6 {
  padding-block-end: calc(6 * var(--space));
}

.m-6 {
  margin: calc(6 * var(--space));
}
.m-top-6 {
  margin-top: calc(6 * var(--space));
}
.m-left-6 {
  margin-left: calc(6 * var(--space));
}
.m-bottom-6 {
  margin-bottom: calc(6 * var(--space));
}
.m-right-6 {
  margin-right: calc(6 * var(--space));
}
.m-inline-6 {
  margin-inline: calc(6 * var(--space));
}
.m-inline-start-6 {
  margin-inline-start: calc(6 * var(--space));
}
.m-inline-end-6 {
  margin-inline-end: calc(6 * var(--space));
}
.m-block-6 {
  margin-block: calc(6 * var(--space));
}
.m-block-start-6 {
  margin-block-start: calc(6 * var(--space));
}
.m-block-end-6 {
  margin-block-end: calc(6 * var(--space));
}

.m-auto {
  margin: auto;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin: auto;
}

.bloc {
  background-color: var(--backgroundColor);
  background-image: var(--backgroundDesktop);
  background-position: var(--backgroundXPosition, center) var(--backgroundYPosition, center);
  background-repeat: var(--backgroundRepeat, no-repeat);
  background-size: var(--backgroundSize, cover);
  color: var(--textColor, currentColor);
}

@media (max-width: 1000px) {
  .bloc {
    background-image: var(--backgroundMobile);
  }
}
.inline {
  display: inline;
}

.flex {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.flex > * {
  min-width: 0;
}

.end {
  justify-content: flex-end;
}

.stretch {
  align-items: stretch;
}

@media (min-width: 500px) {
  .flex-md {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hstack {
  display: flex;
  flex-wrap: wrap;
  --gap: 2;
  margin: calc(var(--gap) * var(--space) * -0.5);
  margin-bottom: calc(var(--gap) * var(--space) * -1);
  margin-top: 0;
}
.hstack > * {
  margin-left: calc(var(--gap) * var(--space) * 0.5);
  margin-right: calc(var(--gap) * var(--space) * 0.5);
  margin-bottom: calc(var(--gap) * var(--space));
}

.grid {
  width: 100%;
  display: grid;
  --gap: 0;
  gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;
}
.grid.two {
  --gap: 2;
  grid-template-columns: repeat(2, 1fr);
}
.grid .full {
  grid-column: 1/-1;
}

.reader-only {
  display: none;
}

@font-face {
  font-family: "Marianne";
  src: url("../assets/fonts/Marianne-Bold.woff");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Marianne";
  src: url("../assets/fonts/Marianne-Regular.woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Marianne";
  src: url("../assets/fonts/Marianne-Light.woff");
  font-weight: 300;
  font-display: swap;
}
.h1 {
  font-family: var(--font);
  font-weight: 700;
  font-style: normal;
  font-size: var(--step-3);
  line-height: 1.2;
  color: var(--contrast);
}

.h2 {
  font-weight: 700;
  font-style: normal;
  font-size: var(--step-2);
  line-height: 1.2;
  color: var(--contrast);
}

.h3 {
  font-style: normal;
  font-weight: 700;
  font-size: var(--step-1);
  line-height: 1.3;
  color: var(--contrast);
}

.h4 {
  font-family: var(--font);
  font-size: var(--step-0);
  font-weight: bold;
  color: var(--contrast);
}

.h5 {
  font-family: var(--font);
  font-weight: bold;
  color: var(--contrast);
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.normal {
  font-weight: normal;
}

.bold, strong {
  font-weight: bold;
}

:root {
  --font: "Marianne";
  --step--2: clamp(0.61rem, calc(0.56rem + 0.23vw), 0.72rem);
  --step--1: clamp(0.73rem, calc(0.66rem + 0.35vw), 0.90rem);
  --step-0: clamp(0.88rem, calc(0.77rem + 0.51vw), 1.13rem);
  --step-1: clamp(1.05rem, calc(0.90rem + 0.73vw), 1.41rem);
  --step-2: clamp(1.26rem, calc(1.06rem + 1.02vw), 1.76rem);
  --step-3: clamp(1.51rem, calc(1.23rem + 1.41vw), 2.20rem);
  --step-4: clamp(1.81rem, calc(1.43rem + 1.91vw), 2.75rem);
  --step-5: clamp(2.18rem, calc(1.66rem + 2.58vw), 3.43rem);
  --step-6: clamp(2.61rem, calc(1.92rem + 3.44vw), 4.29rem);
  --step-7: clamp(3.14rem, calc(2.22rem + 4.57vw), 5.36rem);
  --step-8: clamp(3.76rem, calc(2.56rem + 6.04vw), 6.71rem);
  --container-padding: 20px;
  --container-width: 1350px;
  --gap: 20px;
  --space: 8px;
  --color-dark: hsl(0, 11%, 22%);
  --color: hsl(0, 10%, 68%);
  --color-light: hsl(0, 11%, 89%);
  --color-transparent: rgba(66, 18, 18, 0);
  --contrast: hsl(0, 46%, 39%);
  --accent: hsl(14, 89%, 50%);
  --contrast25: rgba(147, 54, 54, 0.25);
  --border: #d5e3ec;
  --border-light: #933636;
  --background: #fbfafc;
  --background-light: #fff;
  --shadow: #d8e1e8;
  --list-hover: var(--background);
  --card-footer: #f7fafd;
  --card-padding: 16px;
  --red: #f25353;
  --green: #41cf7c;
  --yellow: #feb32b;
  --yellow-alpha: #feb32b4c;
  --skeleton: var(--color-light);
  --header-background: #fffffff2;
  --white: white;
  --color-1: #023e8a;
  --color-2: #e85d04;
  --color-3: #6a994e;
  --color-4: #d00000;
  --color-5: #ffb703;
  --color-6: #8338ec;
}

/*
@media (prefers-color-scheme: dark) {
  .theme-dark {

  }
  .theme-dark .lighten-dark {
    filter: brightness(10);
  }
}
*/
body {
  font-size: var(--step-0);
  font-family: var(--font);
  color: var(--color-dark);
  line-height: 1.6;
  background: var(--background);
  scroll-margin: 100px 0 0 0;
  word-break: break-word;
  margin: 0;
  padding: 0;
  border: 0;
}

em {
  background-color: var(--contrast);
  color: var(--color-light);
}

.container .search-input {
  position: relative;
  top: 0;
  margin-bottom: 0;
  padding: 0;
}

.body {
  padding-top: 152px;
}

@media (max-width: 900px) {
  .body {
    padding-top: 102px;
  }
}
