@use "../../../../../../../resources/css/tools/functions";

footer {
    margin-top: auto;
    position: relative;
    z-index: 100;

    a {
        display: inline-block;

        &:after {
            background-color: currentColor;
            background-image: current;
            transition: width 0.2s;
            content: "";
            display: block;
            margin: 0 auto 0;
            height: 0.125em;
            width: 0;
        }

        &:hover:after {
            width: 100%;
        }
    }
}

.footer {
    background: var(--backgroundColor);
    filter: brightness(90%);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;

            > li + li {
                margin-left: functions.space(1);
            }
        }
    }
}

@media (max-width: 800px) {
    .footer {
        .container {
            display: grid;
            gap: functions.space(2);

            ul {
                display: grid;

                > li + li {
                    margin-left: 0;
                }
            }
        }
    }
}
